/*

 Zilla2000
 Mozilla Classic Theme Variant

 https://github.com/vondadil/zilla2000

 */


/* Common */
@import "../../../common/external/tabs_on_bottom_v2.css";
@import "../../../common/variables.css";
@import "../../../common/mainwindow.css";
@import "../../../common/menubar.css";
@import "../../../common/toolbars.css";
@import "../../../common/bookmarksbar.css";
@import "../../../common/urlbar.css";
@import "../../../common/sidebar.css";
@import "../../../common/tabs.css";


/* Theme Variant */
@import "variables.css";
@import "hacks/toolbar_labels.css";
@import "toolbars.css";
@import "tabs.css";
@import "icons.css";
@import "throbber.css";