

/* Toolbar handles and backgrounds */
#navigator-toolbox {
}
#PersonalToolbar,#toolbar-menubar,#nav-bar{

	@media (prefers-color-scheme: light) {
		background: transparent url('img/toolbar_handle_noarrow.gif') left top no-repeat !important;
	}
	@media(prefers-color-scheme: dark) {
			background: transparent url('img/toolbar_handle_noarrow-darkmode.gif') left top no-repeat !important;
	}
}
#toolbar-menubar {
	@media (prefers-color-scheme: light) {
		background: transparent url('img/toolbar_handle_noarrow.gif') left top no-repeat !important;
	}
	@media(prefers-color-scheme: dark) {
			background: transparent url('img/toolbar_handle_noarrow-darkmode.gif') left top no-repeat !important;
	}
}


/* Text Label Position Fix */
#navbar {
	.toolbarbutton-text {
		display: flex !important;
		align-items: flex-end;
	}
}