/* Bookmarks Bar */

#PersonalToolbar {
	.bookmark-item {
		&:hover {
			background: none !important;
			color: blue !important;
			text-decoration: underline;
			cursor: pointer;

			@media (prefers-color-scheme: dark) {
				color: lightskyblue !important;
			}
		}
		&:active {
			position: relative;
			top: 1px;
			left: 1px;
		}

		/*.toolbarbutton-icon {
			display: none !important;
		}*/
		
	}
}

#main-window[privatebrowsingmode] {
    #PersonalToolbar .bookmark-item {
		&:hover, &:active {
			color: purple !important;

			@media (prefers-color-scheme: dark) {
				color: violet !important;
			}
		}
	}
}