#back-button > .toolbarbutton-icon { background-image: url('img/icons/toolbar/back.png') !important; }
/*#back-button:not([disabled]):hover > .toolbarbutton-icon { background-image: url('img/icons/toolbar/back-hover.png') !important; }*/
#back-button:not([disabled]):active > .toolbarbutton-icon { background-image: url('img/icons/toolbar/back-hover.png') !important; }
#back-button[disabled] > .toolbarbutton-icon { background-image: url('img/icons/toolbar/back-disabled.png') !important; }

#forward-button > .toolbarbutton-icon { background-image: url('img/icons/toolbar/forward.png') !important; }
/*#forward-button:not([disabled]):hover > .toolbarbutton-icon { background-image: url('img/icons/toolbar/forward-hover.png') !important; }*/
#forward-button:not([disabled]):active > .toolbarbutton-icon { background-image: url('img/icons/toolbar/forward-hover.png') !important; }
#forward-button[disabled] > .toolbarbutton-icon { background-image: url('img/icons/toolbar/forward-disabled.png') !important; }

#reload-button > .toolbarbutton-icon { background-image: url('img/icons/toolbar/reload.png') !important; }
/*#reload-button:not([disabled]):hover > .toolbarbutton-icon { background-image: url('img/icons/toolbar/reload-hover.png') !important; }*/
#reload-button:not([disabled]):active > .toolbarbutton-icon { background-image: url('img/icons/toolbar/reload-hover.png') !important; }
#reload-button[disabled] > .toolbarbutton-icon { background-image: url('img/icons/toolbar/reload-disabled.png') !important; }


#stop-button > .toolbarbutton-icon { background-image: url('img/icons/toolbar/stop.png') !important; }
/*#stop-button:not([disabled]):hover > .toolbarbutton-icon { background-image: url('img/icons/toolbar/stop-hover.png') !important; }*/
#stop-button:not([disabled]):active > .toolbarbutton-icon { background-image: url('img/icons/toolbar/stop-hover.png') !important; }
#stop-button[disabled] > .toolbarbutton-icon { background-image: url('img/icons/toolbar/stop-disabled.png') !important; }


#home-button > .toolbarbutton-icon { background-image: url('img/icons/toolbar/home.png') !important; }
/*#home-button:not([disabled]):hover > .toolbarbutton-icon { background-image: url('img/icons/toolbar/home-hover.png') !important; }*/
#home-button:not([disabled]):active > .toolbarbutton-icon { background-image: url('img/icons/toolbar/home-hover.png') !important; }
#home-button[disabled] > .toolbarbutton-icon { background-image: url('img/icons/toolbar/home-disabled.png') !important; }


#print-button > .toolbarbutton-icon { background-image: url('img/icons/toolbar/print.png') !important; }
/*#print-button:not([disabled]):hover > .toolbarbutton-icon { background-image: url('img/icons/toolbar/print-hover.png') !important; }*/
#print-button:not([disabled]):active > .toolbarbutton-icon { background-image: url('img/icons/toolbar/print-hover.png') !important; }
#print-button[disabled] > .toolbarbutton-icon { background-image: url('img/icons/toolbar/print-disabled.png') !important; }


#bookmarks-menu-button > .toolbarbutton-icon { background-image: url('img/icons/toolbar/bookmarks.png') !important; }
/*#bookmarks-menu-button:not([disabled]):hover > .toolbarbutton-icon { background-image: url('img/icons/toolbar/bookmark-hover.png') !important; }*/
#bookmarks-menu-button:not([disabled]):active > .toolbarbutton-icon { background-image: url('img/icons/toolbar/bookmarks-hover.png') !important; }
#bookmarks-menu-button[disabled] > .toolbarbutton-icon { background-image: url('img/icons/toolbar/bookmarks-disabled.png') !important; }

#downloads-button,
#downloads-button.toolbarbutton-1:not([disabled]):hover { background-image: url('img/icons/toolbar/downloads.png') !important; }


#new-tab-button > .toolbarbutton-icon { background-image: url('img/icons/toolbar/tab_new.png') !important; }
/*#new-tab-button:not([disabled]):hover > .toolbarbutton-icon { background-image: url('img/icons/toolbar/bookmark-hover.png') !important; }*/
#new-tab-button:not([disabled]):active > .toolbarbutton-icon { background-image: url('img/icons/toolbar/tab_new-hover.png') !important; }
#new-tab-button[disabled] > .toolbarbutton-icon { background-image: url('img/icons/toolbar/tab_new-disabled.png') !important; }

#new-window-button > .toolbarbutton-icon { background-image: url('img/icons/toolbar/window_new.png') !important; }
/*#new-window-button:not([disabled]):hover > .toolbarbutton-icon { background-image: url('img/icons/toolbar/bookmark-hover.png') !important; }*/
#new-window-button:not([disabled]):active > .toolbarbutton-icon { background-image: url('img/icons/toolbar/window_new-hover.png') !important; }
#new-window-button[disabled] > .toolbarbutton-icon { background-image: url('img/icons/toolbar/window_new-disabled.png') !important; }


new-window-button

#history-panelmenu > .toolbarbutton-icon { background-image: url('img/icons/toolbar/history.png') !important; }
/*#history-panelmenu:not([disabled]):hover > .toolbarbutton-icon { background-image: url('img/icons/toolbar/bookmark-hover.png') !important; }*/
#history-panelmenu:not([disabled]):active > .toolbarbutton-icon { background-image: url('img/icons/toolbar/history-hover.png') !important; }
#history-panelmenu[disabled] > .toolbarbutton-icon { background-image: url('img/icons/toolbar/history-disabled.png') !important; }

/*
#fxa-toolbar-menu-button .toolbarbutton-icon { background-image: url('img/icons/profileicon.png') !important; }
#fxa-toolbar-menu-button:not([disabled]):active .toolbarbutton-icon { background-image: url('img/icons/profileicon-hover.png') !important; }
#fxa-toolbar-menu-button[disabled] .toolbarbutton-icon { background-image: url('img/icons/profileicon-disabled.png') !important; }

#fxa-toolbar-menu-button .toolbarbutton-icon { background-size: 20px !important; }
*/


#unified-extensions-button > .toolbarbutton-icon { background-image: url('img/icons/toolbar/extensions.png') !important; }
/*#unified-extensions-button:not([disabled]):hover > .toolbarbutton-icon { background-image: url('img/icons/toolbar/extensions-hover.png') !important; }*/
#unified-extensions-button:not([disabled]):active > .toolbarbutton-icon { background-image: url('img/icons/toolbar/extensions.png') !important; }
#unified-extensions-button[disabled] > .toolbarbutton-icon { background-image: url('img/icons/toolbar/extensions.png') !important; }



/* Single Icon Buttons */
#sidebar-button .toolbarbutton-icon,
#sidebar-button:not([disabled]):active .toolbarbutton-icon,
#sidebar-button[disabled] .toolbarbutton-icon {
    background-image: url('img/marchmountain_xp/OE Folder List.png') !important;
    background-size: 24px !important;
}


#fullscreen-button .toolbarbutton-icon,
#fullscreen-button:not([disabled]):active .toolbarbutton-icon,
#fullscreen-button[disabled] .toolbarbutton-icon {
    background-image: url('img/marchmountain_xp/Full Screen.png') !important;
    background-size: 24px !important;
}


#logins-button .toolbarbutton-icon,
#logins-button:not([disabled]):active .toolbarbutton-icon,
#logins-button[disabled] .toolbarbutton-icon {
    background-image: url('img/marchmountain_xp/Key.png') !important;
    background-size: 24px !important;
}
