#nav-bar {
	.toolbarbutton-1 {
		min-width: 42px;
		/* display: flex;
		align-items: center;
		justify-content: center; */

		&:not([disabled]):hover {
			&,
			.toolbarbutton-icon,
			.toolbarbutton-badge-stack { background-color: transparent !important; }
		}

		.toolbarbutton-icon {
			padding: 0 !important;

		}
	}
}



/* Extra Size for Icons that have no replaced icons and would grow too large with the default styling above */

	.toolbarbutton-icon {
		width: var(--zilla-toolbar-button-icon-size-constrained);
		height: var(--zilla-toolbar-button-icon-size-constrained);
	}



#nav-bar {
	.toolbarbutton-1 {
		&,&[label] {
			.toolbarbutton-icon,
			.toolbarbutton-badge-stack {
				top: unset;
			}
		}
	}
}


#nav-bar .toolbarbutton-1 {
	& > .toolbarbutton-icon, & > .toolbarbutton-text, & > .toolbarbutton-badge-stack {
		padding: 0 !important;
	}
}

/* Remove default icons from toolbar buttons that have their icons replaced in icon.css */
#back-button,
#forward-button,
#reload-button,
#stop-button,
#print-button,
#home-button,
#bookmarks-menu-button,
#downloads-button,
#downloads-indicator-icon,
#unified-extensions-button,
#new-tab-button,
#new-window-button,
#history-panelmenu,
#PanelUI-menu-button,
#sidebar-button,
#fullscreen-button,
#logins-button  {
	&,.toolbarbutton-1,.toolbarbutton-1[label] {
		&,
		.toolbarbutton-icon,
		.toolbarbutton-badge-stack {
			/* Repeating stylings from common/toolbars.css here because no browser supports @mixin yet :( */
			list-style-image: none !important;
			background-repeat: no-repeat !important;
			background-size: unset;
			background-position: center !important;
			width: var(--zilla-toolbar-button-icon-size) !important;
			height: unset !important;
			min-height: var(--zilla-toolbar-button-icon-size);
			/* top: 6px; */

			&,&:hover,&:active,&[open] {
				background-color: transparent !important;
			}
			
		}

		hbox { display: none; }

		.toolbarbutton-text { display: none !important; }

		.toolbarbutton-badge-stack {
			display: unset;
		}

		.toolbarbutton-badge.feature-callout {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	/* enable little signs on the toolbar icons if they require attention */
	&[attention] {
		position: relative;

		&::after {
			content: "";
			width: 16px;
			height: 16px;
			position: absolute;
			top: 0;
			right: 0;
			background-image: url('img/icons/small/alert-0.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}
}


/* downloads button */

#downloads-button {
}

#downloads-indicator-icon {
	width: var(--zilla-toolbar-button-icon-size);
	height: var(--zilla-toolbar-button-icon-size);
}
#downloads-indicator-progress-outer,
#downloads-indicator-finish-image { background-color: rgba(255,255,255,0.9); }

#downloads-indicator-finish-box {
	overflow: hidden;	
	border-radius: 100%;
}


/* extensions button */
#unified-extensions-button {
	&, .toolbarbutton-icon {
		background-size: 26px !important;
	}
}


/* web extension icons */
.webextension-browser-action {

	&,
	.toolbarbutton-icon,
	.toolbarbutton-badge-stack {
		min-height: var(--zilla-webextenion-icon-size);
		min-width: var(--zilla-webextenion-icon-size);
		background-size: var(--zilla-webextenion-icon-size) !important;
	}
}