#main-window {
  /*--toolbar-color-scheme: light !important;*/
  
  /*color-scheme: light !important;*/
}



#main-window {
   background-color: var(--bg_color) !important;
   color: var(--fg_color) !important;
}


#navigator-toolbox {
    background-color: var(--zilla-ui-bg-color) !important;
}