@import "common/external/tabs_on_bottom_v2.css";

/* Widget themeing */
@import "mozilla_classic/variables.css";
@import "mozilla_classic/mainwindow.css";
@import "mozilla_classic/tabs.css";
@import "mozilla_classic/statusbar.css";
@import "mozilla_classic/toolbars.css";
@import "mozilla_classic/urlbar.css"; 
@import "mozilla_classic/throbber.css";
@import "mozilla_classic/sidebar.css";



#main-window {
   background-color: var(--bg_color) !important;
   color: var(--fg_color) !important;
}
