/* Uncomment one file import to use that variation: */


/* Theme Variation: Mozilla 1.7 Classic */
/* @import url("mozilla_classic/import.css"); */


/* Theme Variation: Mozilla 1.7 Modern */
/*@import url("mozilla_modern/import.css");*/


/* Theme Variation: Firefox 1.0 - 1.5 */
@import url("firefox/import.css");


/* Theme Variation: Firefox 2.0 */
/*@import url("firefox2/import.css");*/
