@import "external/tabs_on_bottom_v2.css";

/* Widget themeing */
@import "variables.css";
@import "mainwindow.css";
@import "tabs.css";
@import "statusbar.css";
@import "toolbars.css";
@import "urlbar.css"; 
@import "throbber.css";
@import "sidebar.css";



#main-window {
   background-color: var(--bg_color) !important;
   color: var(--fg_color) !important;
}
