/* Uncomment one file import to use that variation: */


/* Theme Variation: Mozilla 1.7 Classic */
/* @import url("mozilla_classic.css"); */


/* Theme Variation: Mozilla 1.7 Modern */
/*@import url("mozilla_modern.css");*/


/* Theme Variation: Firefox 1.0 - 1.5 */
@import url("mozilla_firefox.css");


/* Theme Variation: Firefox 2.0 */
/*@import url("mozilla_firefox_2_0.css");*/