/* Unset default button borders and backgrounds */
#main-window:not([customizing]) #nav-bar .toolbarbutton-1[disabled=true]:-moz-any([open],[checked],:hover:active,:active) > .toolbarbutton-icon,
#main-window:not([customizing]) #nav-bar .toolbarbutton-1[disabled=true]:-moz-any([open],[checked],:hover:active,:active) > .toolbarbutton-text,
#main-window:not([customizing]) #nav-bar .toolbarbutton-1[disabled=true]:-moz-any([open],[checked],:hover:active,:active) > .toolbarbutton-badge-stack,
#nav-bar toolbarbutton[type="menu-button"] .toolbarbutton-icon,
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button[open] + .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#nav-bar .toolbarbutton-1[open] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1[open] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#nav-bar .toolbarbutton-1:not([checked]):not([open]):not(:active) > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:not([checked]):not([open]):not(:active) > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:not([checked]):not([open]):not(:active) > .toolbarbutton-badge-stack,
#nav-bar .toolbarbutton-1:not([buttonover]):not([open]):not(:active) > .toolbarbutton-menubutton-dropmarker:not([disabled]) > .dropmarker-icon,
#nav-bar .toolbarbutton-1:not([disabled=true]) > .toolbarbutton-menubutton-button[open] + .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#nav-bar .toolbarbutton-1:not([disabled=true]):-moz-any(:hover,[open]) > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:not([disabled=true]):-moz-any(:hover,[open]) > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#nav-bar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-badge-stack,
#nav-bar .toolbarbutton-1:not([buttonover]):not([open]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled]) > .dropmarker-icon,
#nav-bar toolbarbutton[type="menu"][open]:not([disabled]) .toolbarbutton-icon,
#nav-bar toolbarbutton[type="menu-button"]:not([open]):hover:not([disabled]):active .toolbarbutton-icon,
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled=true]):-moz-any(:hover:active,:active, [open]) > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1[open] > .toolbarbutton-menubutton-dropmarker:not([disabled=true]) > .dropmarker-icon,
#nav-bar .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active,:active) > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active,:active) > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active,:active) > .toolbarbutton-badge-stack,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext:not([customizing]) #nav-bar .toolbarbutton-1[disabled=true]:-moz-any([open],[checked],:hover:active,:active) > .toolbarbutton-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext:not([customizing]) #nav-bar .toolbarbutton-1[disabled=true]:-moz-any([open],[checked],:hover:active,:active) > .toolbarbutton-text,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext:not([customizing]) #nav-bar .toolbarbutton-1[disabled=true]:-moz-any([open],[checked],:hover:active,:active) > .toolbarbutton-badge-stack,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar toolbarbutton[type="menu-button"] .toolbarbutton-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button[open] + .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1[open] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1[open] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([checked]):not([open]):not(:active) > .toolbarbutton-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([checked]):not([open]):not(:active) > .toolbarbutton-text,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([checked]):not([open]):not(:active) > .toolbarbutton-badge-stack,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([buttonover]):not([open]):not(:active) > .toolbarbutton-menubutton-dropmarker:not([disabled]) > .dropmarker-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([disabled=true]) > .toolbarbutton-menubutton-button[open] + .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([disabled=true]):-moz-any(:hover,[open]) > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([disabled=true]):-moz-any(:hover,[open]) > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-text,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-badge-stack,
#main-window:not([style*='--lwt-header-image']):-moz-lwtheme:-moz-lwtheme-brighttext #nav-bar .toolbarbutton-1:not([buttonover]):not([open]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled]) > .dropmarker-icon ,
#main-window:not([customizing]) #toolbar-menubar .toolbarbutton-1[disabled=true]:-moz-any([open],[checked],:hover:active,:active),
#toolbar-menubar toolbarbutton[type="menu-button"],
#toolbar-menubar .toolbarbutton-1 > .toolbarbutton-menubutton-button[open] + .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#toolbar-menubar .toolbarbutton-1[open] > .toolbarbutton-menubutton-button,
#toolbar-menubar .toolbarbutton-1[open] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#toolbar-menubar .toolbarbutton-1:not([checked]):not([open]):not(:active),
#toolbar-menubar .toolbarbutton-1:not([buttonover]):not([open]):not(:active) > .toolbarbutton-menubutton-dropmarker:not([disabled]) > .dropmarker-icon,
#toolbar-menubar .toolbarbutton-1:not([disabled=true]) > .toolbarbutton-menubutton-button[open] + .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#toolbar-menubar .toolbarbutton-1:not([disabled=true]):-moz-any(:hover,[open]) > .toolbarbutton-menubutton-button ,
#toolbar-menubar .toolbarbutton-1:not([disabled=true]):-moz-any(:hover,[open]) > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
#toolbar-menubar .toolbarbutton-1:not([disabled=true]):not([checked]):not([open]):not(:active):hover,
#toolbar-menubar .toolbarbutton-1:not([buttonover]):not([open]):not(:active):hover > .toolbarbutton-menubutton-dropmarker:not([disabled]) > .dropmarker-icon,
#toolbar-menubar toolbarbutton[type="menu"][open]:not([disabled]),
#toolbar-menubar toolbarbutton[type="menu-button"]:not([open]):hover:not([disabled]):active ,
#toolbar-menubar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled=true]):-moz-any(:hover:active,:active,[open]),
#toolbar-menubar .toolbarbutton-1[open] > .toolbarbutton-menubutton-dropmarker:not([disabled=true]) > .dropmarker-icon,
#toolbar-menubar .toolbarbutton-1:not([disabled=true]):-moz-any([open],[checked],:hover:active,:active),
#TabsToolbar .toolbarbutton-1 .toolbarbutton-badge-stack,
#TabsToolbar .toolbarbutton-1 .toolbarbutton-1 {
  background: unset !important;
  background-color: unset !important;
  border-color: unset !important;
  box-shadow: unset !important;
  transition: unset !important;
}

toolbar:not(#TabsToolbar) .toolbarbutton-1 .toolbarbutton-badge-stack,
toolbar:not(#TabsToolbar) toolbaritem .toolbarbutton-1,
toolbar:not(#TabsToolbar) .toolbarbutton-1,
toolbar:not(#TabsToolbar) .toolbarbutton-1[type="menu-button"] toolbarbutton,
toolbar:not(#TabsToolbar) toolbaritem .toolbarbutton-1 :-moz-any(.toolbarbutton-icon, .toolbarbutton-text),
toolbar:not(#TabsToolbar) .toolbarbutton-1 :-moz-any(.toolbarbutton-icon, .toolbarbutton-text),
toolbar:not(#TabsToolbar) .toolbarbutton-1[type="menu-button"] toolbarbutton :-moz-any(.toolbarbutton-icon, .toolbarbutton-text){
  background: unset !important;
  box-shadow: unset !important;
}

#main-window[uidensity="compact"] #back-button > .toolbarbutton-text,
#main-window[uidensity="compact"] #find-button > .toolbarbutton-text,
#main-window[uidensity="compact"] #reload-button > .toolbarbutton-text,
#main-window[uidensity="compact"] #stop-button > .toolbarbutton-text,
#main-window[uidensity="compact"] #library-button > .toolbarbutton-text,
#main-window[uidensity="compact"] #history-panelmenu > .toolbarbutton-text {
  display:none !important;
}


/* Set icon padding for all buttons */
:-moz-any(#back-button,#forward-button,#home-button,#stop-button,#reload-button,#bookmarks-menu-button,#history-panelmenu,
        #privatebrowsing-button,#find-button,#print-button,#fullscreen-button,#developer-button,
	#preferences-button,#cut-button,#copy-button,#paste-button,#zoom-out-button,#zoom-in-button,
	#tabview-button,#email-link-button,#sidebar-button,#web-apps-button,#webide-button,#developer-button,#containers-panelmenu,
	#library-button,#bookmarks-toolbar-placeholder,#nav-bar-overflow-button,#alltabs-button ) .toolbarbutton-icon {
  padding: 3px !important;
}

#main-window[uidensity="compact"] :-moz-any(#back-button,#forward-button,#home-button,#stop-button,#reload-button,#bookmarks-menu-button,#history-panelmenu,
#privatebrowsing-button,#find-button,#print-button,#fullscreen-button,#developer-button,
#preferences-button,#cut-button,#copy-button,#paste-button,#zoom-out-button,#zoom-in-button,
#tabview-button,#email-link-button,#sidebar-button,#web-apps-button,#webide-button,#developer-button,#containers-panelmenu,
#library-button,#bookmarks-toolbar-placeholder,#nav-bar-overflow-button,#alltabs-button ) .toolbarbutton-icon {
padding: 2px !important;
}

/* Reduce color */
/*
#nav-bar .toolbarbutton-1 {
  filter: sepia(0%) saturate(90%) contrast(100%) !important;
}*/

/* Custom icons */
/*
#main-window:not([uidensity="compact"]) #back-button .toolbarbutton-icon {
  display: -moz-box !important;
  margin-bottom: -3px !important;
  margin-top: -5px !important;
  border-radius: 0px !important;
}
*/

#back-button .toolbarbutton-icon {
  list-style-image: url("image/netscape_back.png") !important;
}

#back-button[disabled] .toolbarbutton-icon {
  list-style-image: url("image/netscape_back_inactive.png") !important;
}

#back-button:not([disabled]):hover .toolbarbutton-icon {
  filter: contrast(150%) !important;
  list-style-image: url("image/netscape_back.png") !important;
}

toolbar:not(#TabsToolbar) #stop-reload-button[animate] > #reload-button > .toolbarbutton-icon,
toolbar:not(#TabsToolbar) #stop-reload-button[animate] > #reload-button[displaystop] + #stop-button > .toolbarbutton-icon {
  fill: unset !important;
}
/*
#main-window[uidensity="compact"] #back-button .toolbarbutton-icon {
  padding: 5px !important; }
*/
#forward-button .toolbarbutton-icon {
  list-style-image: url("image/netscape_forward.png") !important;
}

#forward-button[disabled] .toolbarbutton-icon {
  list-style-image: url("image/netscape_forward_inactive.png") !important;
}

#forward-button:not([disabled]):hover .toolbarbutton-icon {
  filter: contrast(180%) !important;
  list-style-image: url("image/netscape_forward.png") !important;
}

#stop-button .toolbarbutton-icon {
  list-style-image: url("image/netscape_stop.png") !important;
}

#stop-button[disabled] .toolbarbutton-icon {
  list-style-image: url("image/netscape_stop.png") !important;
}

#stop-button:not([disabled]):hover .toolbarbutton-icon {
  filter: contrast(200%) !important;
  list-style-image: url("image/netscape_stop.png") !important;
}

#reload-button .toolbarbutton-icon {
  list-style-image: url("image/netscape_reload.png") !important;
}

#reload-button[disabled] .toolbarbutton-icon {
  list-style-image: url("image/netscape_reload_inactive.png") !important;
}

#reload-button:not([disabled]):hover .toolbarbutton-icon {
  filter: contrast(150%) !important;
  list-style-image: url("image/netscape_reload.png") !important;
}

#reload-button,
#stop-button {
  margin-top: -1px !important;
}

#home-button .toolbarbutton-icon {
  list-style-image: url("image/netscape_home.png") !important;
}

#home-button:not([disabled]):hover .toolbarbutton-icon {
  filter: contrast(150%) !important;
  list-style-image: url("image/netscape_home.png") !important;
}

#find-button .toolbarbutton-icon {
  list-style-image: url("image/Find.png") !important;
}

#find-button:not([disabled]):hover .toolbarbutton-icon {
  filter: contrast(150%) !important;
  list-style-image: url("image/netscape_find.png") !important;
}

#print-button .toolbarbutton-icon,
#print-button .toolbarbutton-icon[disabled] {
  list-style-image: url("image/Print.png") !important;
}

#print-button:not([disabled]):hover .toolbarbutton-icon {
  list-style-image: url("image/Print_hover.png") !important;
}

#history-panelmenu .toolbarbutton-icon {
  padding: 3px !important;
  list-style-image: url("image/netscape_history.png") !important;
}

#history-panelmenu:hover .toolbarbutton-icon {
  padding: 3px !important;
  list-style-image: url("image/netscape_history_hover.png") !important;
}