:root {
  --zilla-throber-size: 48px;
}

#PanelUI-button .toolbarbutton-1[label] > .toolbarbutton-text { display: none !important; }

#PanelUI-button .toolbarbutton-1 {
  width: var(--zilla-throber-size);
  height: var(--zilla-throber-size);
  box-shadow: var(--zilla-win98-button-border-shadow);
  background-color: unset !important;
  background-image: url("img/throbber/throbber-single.gif") !important;
  background-size: 95% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border: 1px solid #444;
  margin-right: 3px !important;
}

#PanelUI-button .toolbarbutton-badge {
  visibility: collapse !important;
}

#PanelUI-menu-button .toolbarbutton-icon {
  visibility: collapse !important;
}

/* active state */
#PanelUI-button .toolbarbutton-1[open="true"] {
  box-shadow: var(--zilla-win98-button-border-shadow-active);
}

/* Animate Throbber when loading a page (like old times! :) ) */
#navigator-toolbox:has(.tab-icon-stack[busy="true"]) #PanelUI-button .toolbarbutton-1,
#navigator-toolbox:has(.tab-icon-stack[busy="true"]) #PanelUI-button .toolbarbutton-1:hover {
  background-image: url("img/throbber/throbber-anim.gif") !important;
}