:root {
	--zilla-toolbar-label-height: 6px;
	--zilla-toolbar-button-icon-size: 22px;
	--toolbarbutton-inner-padding: 0;
}


/* Tool Bar Labels */
/* Shows both icon and label for toolbarbuttons */
/* Partly taken from https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/toolbarbuttons_icon+label.css made available under Mozilla Public License v. 2.0
See the above repository for full source, updates as well as full license text. */

#nav-bar .toolbarbutton-1[label]{
	flex-direction: column;
	align-items: center !important;
	padding: 0 6px !important;
}

/*#nav-bar .toolbarbutton-1[label]:not([disabled]):hover{ background-color: var(--toolbarbutton-hover-background) !important; }*/

#nav-bar .toolbarbutton-1[label] > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1[label] > .toolbarbutton-badge-stack{
	padding: 0 !important;
	border: none !important;
	background-color: transparent !important;
	box-shadow: none !important;
	margin-bottom: 0px !important;
}

#nav-bar .toolbarbutton-1[label] > .toolbarbutton-text {
	display: flex !important;
	padding-top: 0px !important;
	background-color: transparent !important;
	overflow: hidden;
	max-width: 10ch;
	min-width: 6ch;
	
}
#nav-bar .toolbarbutton-1[label] > .toolbarbutton-text::before{
	margin-inline: auto;
}
:root:not([uidensity="compact"]) #nav-bar .toolbarbutton-1[label] > .toolbarbutton-text{
	padding-bottom: 2px !important;
	padding-left: 2px !important;
	padding-right: 2px !important;
}



#nav-bar .toolbarbutton-1[label] > .toolbarbutton-text {
	min-height: var(--zilla-toolbar-label-height) !important;
}


/* ---------- */


/* Main Tool Bar */

#nav-bar,
#PersonalToolbar {
		background-color: transparent !important;
}

#nav-bar {
		padding-top: 2px !important;
		padding-bottom: 0px !important;
		/*border-bottom: 1px solid grey !important;*/
}

#PersonalToolbar {
		/*border-top: 1px solid white !important;*/
}



/* Toolbar handles and backgrounds */
#navigator-toolbox {
	border-top: 1px solid var(--zilla-toolbar-border-color-dark) !important;
	border-right: 1px solid var(--zilla-toolbar-border-color-light) !important;
}
#PersonalToolbar,#toolbar-menubar,#nav-bar{
	margin-top: 0px !important;
	padding-bottom: 2px !important;
	padding-left: 12px !important;
	border: none;
	border-top: 1px solid var(--zilla-toolbar-border-color-light) !important;
	border-bottom: 1px solid var(--zilla-toolbar-border-color-dark) !important;
	border-right: 1px solid var(--zilla-toolbar-border-color-dark) !important;
	background: transparent url('img/toolbar_handle_noarrow.gif') left top no-repeat !important;
}
#toolbar-menubar {
	background: transparent url('img/toolbar_handle_noarrow.gif') left top no-repeat !important;
}


/* Tool Bar Icons */

#nav-bar,
#TabsToolbar {
	.toolbarbutton-1 {
		border: 1px solid transparent;
	}

	.toolbarbutton-1:not([disabled]):hover {
		background: var(--zilla-ui-bg-color) !important;
		box-shadow: var(--zilla-win98-button-border-shadow);
		border-color: black;
	}

	.toolbarbutton-1:not([disabled])[open="true"],
	.toolbarbutton-1:not([disabled]):active {
		background: var(--zilla-ui-bg-color) !important;
		box-shadow: var(--zilla-win98-button-border-shadow-active);
		;
	}
}



/* Nav Bar Icons */

/*#nav-bar .toolbarbutton-icon {
	max-width: var(--zilla-toolbar-button-icon-size) !important;
	max-height: var(--zilla-toolbar-button-icon-size) !important;
}*/

#nav-bar {
	.toolbarbutton-1,
	.toolbaritem-combined-buttons {
		align-items: stretch !important;
	}

	.toolbarbutton-text {
		display: flex !important;
		align-items: flex-end;
	}

	.toolbarbutton-badge-stack {
		min-height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
		padding-top: 0 !important;
		align-items: center !important;
		/*min-width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;*/
	}

	.toolbarbutton-badge {
		position: relative;
		top: 6px;
	}
}

#back-button,
#forward-button,
#reload-button,
#stop-button,
#print-button,
#sidebar-button,
#unified-extensions-button,
#fxa-toolbar-menu-button {
	&,.toolbarbutton-1,.toolbarbutton-1[label] {
		.toolbarbutton-icon,
		.toolbarbutton-badge-stack {
			list-style-image: none !important;
			margin: auto !important;
			width: var(--zilla-toolbar-button-icon-size) !important;
			height: var(--zilla-toolbar-button-icon-size) !important;
			display: flex !important;
			background-position: top center;
			background-repeat: no-repeat;
			background-size: unset;
			position: relative;
			top: 6px;
		}
	}
}

/*#back-button,
#forward-button {
		margin-right: 12px !important;
}*/

#reload-button,
#stop-button {
	.toolbarbutton-animatable-box { display: none !important; }
}


#back-button > .toolbarbutton-icon { background-image: url('img/icons/back.gif') !important; }
/*#back-button:not([disabled]):hover > .toolbarbutton-icon { background-image: url('img/icons/back-hover.gif') !important; }*/
#back-button:not([disabled]):active > .toolbarbutton-icon { background-image: url('img/icons/back-active.gif') !important; }
#back-button[disabled] > .toolbarbutton-icon { background-image: url('img/icons/back-disabled.gif') !important; }

#forward-button > .toolbarbutton-icon { background-image: url('img/icons/forward.gif') !important; }
/*#forward-button:not([disabled]):hover > .toolbarbutton-icon { background-image: url('img/icons/forward-hover.gif') !important; }*/
#forward-button:not([disabled]):active > .toolbarbutton-icon { background-image: url('img/icons/forward-active.gif') !important; }
#forward-button[disabled] > .toolbarbutton-icon { background-image: url('img/icons/forward-disabled.gif') !important; }

#reload-button > .toolbarbutton-icon { background-image: url('img/icons/reload.gif') !important; }
/*#reload-button:not([disabled]):hover > .toolbarbutton-icon { background-image: url('img/icons/reload-hover.gif') !important; }*/
#reload-button:not([disabled]):active > .toolbarbutton-icon { background-image: url('img/icons/reload-active.gif') !important; }
#reload-button[disabled] > .toolbarbutton-icon { background-image: url('img/icons/reload-disabled.gif') !important; }

#stop-button > .toolbarbutton-icon { background-image: url('img/icons/stop.gif') !important; }
/*#stop-button:not([disabled]):hover > .toolbarbutton-icon { background-image: url('img/icons/stop-hover.gif') !important; }*/
#stop-button:not([disabled]):active > .toolbarbutton-icon { background-image: url('img/icons/stop-active.gif') !important; }
#stop-button[disabled] > .toolbarbutton-icon { background-image: url('img/icons/stop-disabled.gif') !important; }

#print-button > .toolbarbutton-icon { background-image: url('img/icons/print.gif') !important; }
/*#print-button:not([disabled]):hover > .toolbarbutton-icon { background-image: url('img/icons/print-hover.gif') !important; }*/
#print-button:not([disabled]):active > .toolbarbutton-icon { background-image: url('img/icons/print-active.gif') !important; }
#print-button[disabled] > .toolbarbutton-icon { background-image: url('img/icons/print-disabled.gif') !important; }


#sidebar-button .toolbarbutton-badge-stack { background-image: url('img/icons/guide.gif') !important; }
/*#print-button:not([disabled]):hover > .toolbarbutton-icon { background-image: url('img/icons/print-hover.gif') !important; }*/
#sidebar-button:not([disabled]):active .toolbarbutton-badge-stack { background-image: url('img/icons/guide.gif') !important; }
#sidebar-button[disabled] .toolbarbutton-badge-stack { background-image: url('img/icons/guide.gif') !important; }


#unified-extensions-button > .toolbarbutton-icon { background-image: url('img/icons/shop-2.gif') !important; }
/*#print-button:not([disabled]):hover > .toolbarbutton-icon { background-image: url('img/icons/print-hover.gif') !important; }*/
#unified-extensions-button:not([disabled]):active > .toolbarbutton-icon { background-image: url('img/icons/shop-2.gif') !important; }
#unified-extensions-button[disabled] > .toolbarbutton-icon { background-image: url('img/icons/shop-2.gif') !important; }


#fxa-toolbar-menu-button .toolbarbutton-badge-stack { background-image: url('img/icons/my.gif') !important; }
/*#print-button:not([disabled]):hover > .toolbarbutton-icon { background-image: url('img/icons/print-hover.gif') !important; }*/
#fxa-toolbar-menu-button:not([disabled]):active .toolbarbutton-badge-stack { background-image: url('img/icons/my.gif') !important; }
#fxa-toolbar-menu-button[disabled] .toolbarbutton-badge-stack { background-image: url('img/icons/my.gif') !important; }


#fxa-toolbar-menu-button .avatar-container { display: none !important; }



/* Menu Bar */

#main-menubar > menu {
	padding-left: 8px !important;
	padding-right: 8px !important;
	border: 1px solid transparent !important;

	&:hover {
		border-top: 1px solid var(--zilla-toolbar-border-color-light) !important;
		border-left: 1px solid var(--zilla-toolbar-border-color-light) !important;
		border-bottom: 1px solid var(--zilla-toolbar-border-color-dark) !important;
		border-right: 1px solid var(--zilla-toolbar-border-color-dark) !important;
	}

	&[open="true"],&:active {
		border-color: transparent !important;
		box-shadow: var(--zilla-win98-button-border-shadow-active);
	}
}





/* Bookmarks Bar */

#PersonalToolbar {
	.bookmark-item {
		&:hover {
			background: none !important;
			color: blue !important;
			text-decoration: underline;
			cursor: pointer;
		}
		&:active {
			position: relative;
			top: 1px;
			left: 1px;
		}

		/*.toolbarbutton-icon {
			display: none !important;
		}*/
		
	}
}