#main-window {
    --toolbarbutton-border-radius: 0 !important;
    --toolbar-field-background-color: transparent !important;
}


#urlbar, #searchbar {
    border: none !important;
    background: transparent !important;
}

#searchbar {
    background: white !important;
    box-shadow: var(--zilla-win98-input-border-shadow);   
}

.urlbar-input-container {
    border: none !important;
    background: transparent;
    background: white;
    box-shadow: var(--zilla-win98-input-border-shadow);
}
.urlbar-input-box {

    /*margin-left: -6px !important;
    padding-left: 6px;*/
}

.urlbar-background {
    background-color: transparent !important;
    box-shadow: unset !important;
    border: unset !important;
}

/*[urlbar-slot] {
    margin: 1px;
    background: var(--zilla-ui-bg-color);
    box-shadow: var(--zilla-win98-button-border-shadow);
}*/

/* Search Breakout Opened */
#urlbar[breakout-extend="true"] {
    margin-left: unset !important;
    width: var(--urlbar-width) !important;
    height: var(--urlbar-height) !important;
    

    .urlbarView {
        background: white;
        border: 1px solid black;
        /*background: var(--zilla-ui-bg-color);*/
         /*box-shadow: var(--zilla-win98-button-border-shadow);*/
    }

    .urlbar-input-container {
        padding-block: 1px !important;
        padding-inline: 1px !important;
        height: var(--urlbar-height) !important;
        margin-top: 4px !important;
    }
}


/* Search Switchers */

#urlbar-searchmode-switcher {
    margin: 1px !important;
    background: var(--zilla-ui-bg-color) !important;
    box-shadow: var(--zilla-win98-button-border-shadow);
}
#urlbar-searchmode-switcher:active,#urlbar-searchmode-switcher[open="true"] {
    box-shadow: var(--zilla-win98-button-border-shadow-active);
}
.searchmode-switcher-chicklet {
    margin: 4px 3px 3px;
    padding-left: 6px;
    height: unset !important;
    border: 1px solid darkgray;
    /*box-shadow: var(--zilla-win98-button-border-shadow);*/
}