#main-window {
    --toolbarbutton-border-radius: 0 !important;
    --toolbar-field-background-color: transparent !important;

    /* Windows Style input borders, taken from https://jdan.github.io/98.css/ */
    --zilla-win98-button-border-shadow:
        inset -1px -1px #666,
        inset 1px 1px #fff,
        inset -2px -2px grey,
        inset 2px 2px #dfdfdf;
    
    --zilla-win98-input-border-shadow:
        inset -1px -1px #fff,
        inset 1px 1px grey,
        inset -2px -2px #dfdfdf,
        inset 2px 2px #0a0a0a;
}


#urlbar, #searchbar {
    border: none !important;
    background: transparent !important;
}

#searchbar {
    background: white !important;
    box-shadow: var(--zilla-win98-input-border-shadow);   
}

.urlbar-input-container {
    border: none !important;
    background: transparent;
    background: white;
    box-shadow: var(--zilla-win98-input-border-shadow);
}
.urlbar-input-box {

    /*margin-left: -6px !important;
    padding-left: 6px;*/
}

.urlbar-background {
    background-color: transparent !important;
    box-shadow: unset !important;
    border: unset !important;
}

/* Search Breakout Opened */
#urlbar[breakout-extend="true"] {
    margin-left: unset !important;
    width: var(--urlbar-width) !important;
    height: var(--urlbar-height) !important;
    

    .urlbarView {
        background: white;
        border: 1px solid black;
        /*background: var(--zilla-ui-bg-color);*/
         /*box-shadow: var(--zilla-win98-button-border-shadow);*/
    }

    .urlbar-input-container {
        padding-block: 1px !important;
        padding-inline: 1px !important;
        height: var(--urlbar-height) !important;
        margin-top: 5px !important;
    }
}


/* Search Switchers */

#urlbar-searchmode-switcher {
    background: var(--zilla-ui-bg-color) !important;
    box-shadow: var(--zilla-win98-button-border-shadow);
}
.searchmode-switcher-chicklet {
    margin: 3px;
    padding-left: 6px;
    height: unset !important;
    border: 1px solid darkgray;
    /*box-shadow: var(--zilla-win98-button-border-shadow);*/
}