#main-window {
    --toolbarbutton-border-radius: 0 !important;

    /* Windows Style input borders, taken from https://jdan.github.io/98.css/ */
    --zilla-win98-button-border-shadow:
        inset -1px -1px #0a0a0a,
        inset 1px 1px #fff,
        inset -2px -2px grey,
        inset 2px 2px #dfdfdf;
    --zilla-win98-input-border-shadow:
        inset -1px -1px #fff,
        inset 1px 1px grey,
        inset -2px -2px #dfdfdf,
        inset 2px 2px #0a0a0a
}


#urlbar {
    border: none;
    background: white !important;
    box-shadow: var(--zilla-win98-input-border-shadow) !important;

}

.urlbar-input-container {
    border: none !important;
    background: transparent;
    padding: unset !important;
}