/*

 Zilla2000
 Firefox 1 Theme Variant

 https://github.com/vondadil/zilla2000

 */


/* Common */
@import "../../common/external/tabs_on_bottom_v2.css";
@import "../../common/variables.css";
@import "../../common/mainwindow.css";
@import "../../common/menubar.css";
@import "../../common/toolbars.css";
@import "../../common/bookmarksbar.css";
@import "../../common/urlbar.css";
@import "../../common/sidebar.css";
@import "../../common/tabs.css";


/* Theme Variant */
/*@import "mozilla_classic/variables.css";
@import "mozilla_classic/icons.css";
@import "mozilla_classic/hacks/toolbar_labels.css";
@import "mozilla_classic/toolbars.css";
@import "mozilla_classic/throbber.css";*/


@import url("variables.css");
@import url("toolbars.css");
@import url("throbber.css");
@import url("icons.css");
@import url("tabs.css");
@import url("menubar.css");