/* Menu Bar */

#main-menubar > menu {
	padding-left: 8px !important;
	padding-right: 8px !important;
	border: 1px solid transparent !important;

	&:hover {
		border-top: 1px solid var(--zilla-toolbar-border-color-light) !important;
		border-left: 1px solid var(--zilla-toolbar-border-color-light) !important;
		border-bottom: 1px solid var(--zilla-toolbar-border-color-dark) !important;
		border-right: 1px solid var(--zilla-toolbar-border-color-dark) !important;
	}

	&[open="true"],&:active {
		border-color: transparent !important;
		box-shadow: var(--zilla-win98-button-border-shadow-active);
	}
}