:root {
	--zilla-toolbar-label-height: 6px;
	--zilla-toolbar-button-icon-size: 22px;
	--toolbarbutton-inner-padding: 0;
}

/* ---------- */


/* Main Tool Bar */

#nav-bar,
#PersonalToolbar {
		background-color: transparent !important;
}

#nav-bar {
		padding-top: 2px !important;
		padding-bottom: 0px !important;
		/*border-bottom: 1px solid grey !important;*/
		
}

#PersonalToolbar {
		/*border-top: 1px solid white !important;*/
}


/* Toolbar borders and backgrounds */
#navigator-toolbox {
	border-top: 1px solid var(--zilla-toolbar-border-color-dark) !important;
	border-right: 1px solid var(--zilla-toolbar-border-color-light) !important;
}
#PersonalToolbar,#toolbar-menubar,#nav-bar{
	margin-top: 0px !important;
	padding-bottom: 2px !important;
	border: none;
	border-top: 1px solid var(--zilla-toolbar-border-color-light) !important;
	border-bottom: 1px solid var(--zilla-toolbar-border-color-dark) !important;
	border-right: 1px solid var(--zilla-toolbar-border-color-dark) !important;
}

/* Tool Bar Icons */

#nav-bar,
#TabsToolbar {
	.toolbarbutton-1 {
		border: 1px solid transparent;
	}

	.toolbarbutton-1:not([disabled]):hover {
		background-color: var(--zilla-ui-bg-color) !important;
		box-shadow: var(--zilla-win98-button-border-shadow);

		.toolbarbutton-icon,
		.toolbarbutton-badge-stack,
		.toolbarbutton-text {
			background-color: transparent !important;
		}
	}

	.toolbarbutton-1:not([disabled])[open="true"],
	.toolbarbutton-1:not([disabled]):active {
		background-color: var(--zilla-ui-bg-color) !important;
		box-shadow: var(--zilla-win98-button-border-shadow-active);
		;

		.toolbarbutton-icon,
		.toolbarbutton-badge-stack,
		.toolbarbutton-text {
			background-color: transparent !important;
		}
	}
}

/* Limit Icon size (for non-replaced icons) */
#nav-bar {
	.toolbarbutton-1 {
		&,&[label] {
			.toolbarbutton-icon,
			.toolbarbutton-badge-stack {
				width: 16px !important;
				height: 16px !important;
				position: relative;
				top: 6px;
			}
		}
	}
}

/* Nav Bar Icons */

/*#nav-bar .toolbarbutton-icon {
	max-width: var(--zilla-toolbar-button-icon-size) !important;
	max-height: var(--zilla-toolbar-button-icon-size) !important;
}*/


/*#back-button,
#forward-button {
		margin-right: 12px !important;
}*/

#reload-button,
#stop-button {
	.toolbarbutton-animatable-box { display: none !important; }
}