:root {
	--zilla-toolbar-label-height: 6px;
	--zilla-toolbar-button-icon-size: 22px;
	--toolbarbutton-inner-padding: 0;
}

/* ---------- */


/* Main Tool Bar */

#nav-bar,
#PersonalToolbar {
		background-color: transparent !important;
}

#nav-bar {
		padding-top: 2px !important;
		padding-bottom: 0px !important;
		/*border-bottom: 1px solid grey !important;*/
}

#PersonalToolbar {
		/*border-top: 1px solid white !important;*/
}


/* Toolbar borders and backgrounds */
#navigator-toolbox {
	border-top: 1px solid var(--zilla-toolbar-border-color-dark) !important;
	border-right: 1px solid var(--zilla-toolbar-border-color-light) !important;
}
#PersonalToolbar,#toolbar-menubar,#nav-bar{
	margin-top: 0px !important;
	padding-bottom: 2px !important;
	padding-left: 12px !important;
	border: none;
	border-top: 1px solid var(--zilla-toolbar-border-color-light) !important;
	border-bottom: 1px solid var(--zilla-toolbar-border-color-dark) !important;
	border-right: 1px solid var(--zilla-toolbar-border-color-dark) !important;
}

/* Tool Bar Icons */

#nav-bar,
#TabsToolbar {
	.toolbarbutton-1 {
		border: 1px solid transparent;
	}

	.toolbarbutton-1:not([disabled]):hover {
		background: var(--zilla-ui-bg-color) !important;
		box-shadow: var(--zilla-win98-button-border-shadow);
		border-color: black;
	}

	.toolbarbutton-1:not([disabled])[open="true"],
	.toolbarbutton-1:not([disabled]):active {
		background: var(--zilla-ui-bg-color) !important;
		box-shadow: var(--zilla-win98-button-border-shadow-active);
		;
	}
}

/* Nav Bar Icons */

/*#nav-bar .toolbarbutton-icon {
	max-width: var(--zilla-toolbar-button-icon-size) !important;
	max-height: var(--zilla-toolbar-button-icon-size) !important;
}*/

#nav-bar {
	.toolbarbutton-1,
	.toolbaritem-combined-buttons {
		align-items: stretch !important;
	}

	.toolbarbutton-text {
		display: flex !important;
		align-items: flex-end;
	}

	.toolbarbutton-badge-stack {
		min-height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
		padding-top: 0 !important;
		align-items: center !important;
		/*min-width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;*/
	}

	.toolbarbutton-badge {
		position: relative;
		top: 6px;
	}
}

#back-button,
#forward-button,
#reload-button,
#stop-button,
#print-button,
#sidebar-button,
#unified-extensions-button,
#fxa-toolbar-menu-button {
	&,.toolbarbutton-1,.toolbarbutton-1[label] {
		.toolbarbutton-icon,
		.toolbarbutton-badge-stack {
			list-style-image: none !important;
			margin: auto !important;
			width: var(--zilla-toolbar-button-icon-size) !important;
			height: var(--zilla-toolbar-button-icon-size) !important;
			display: flex !important;
			background-position: top center;
			background-repeat: no-repeat;
			background-size: unset;
			position: relative;
			top: 6px;
		}
	}
}

/*#back-button,
#forward-button {
		margin-right: 12px !important;
}*/

#reload-button,
#stop-button {
	.toolbarbutton-animatable-box { display: none !important; }
}