:root {
  --zilla-throber-size: 24px;
}

#PanelUI-button .toolbarbutton-1[label] > .toolbarbutton-text { display: none !important; }


#nav-bar {
    position: static !important;
}

#PanelUI-button {
  padding: 0;
  
  &,
  .toolbarbutton-1,
  .toolbarbutton-badge-stack,
  .toolbarbutton-icon {
    
  }
}



#PanelUI-menu-button {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img/throbber/Throbber.png");
}

/* Animate Throbber when loading a page (like old times! :) ) */
#navigator-toolbox:has(.tab-icon-stack[busy="true"]) #PanelUI-button {
  &,&:hover,&:active { #PanelUI-menu-button { background-image: url("img/throbber/Throbber.gif") !important; } }
}


#PanelUI-button .toolbarbutton-badge {
  visibility: collapse !important;
}

#PanelUI-menu-button .toolbarbutton-icon {
  visibility: collapse !important;
}