:root {
	--tab-min-height: 22px !important;
	--tab-border-radius: 4px !important;
}

#TabsToolbar {
	border-top: none !important;
	border-bottom: 1px solid grey !important;
	box-shadow: inset 0 1px rgba(0,0,0,0.25);
	padding-top: 2px !important;
	padding-left: 4px;
}

/* Horizontal Tabs */



#tabbrowser-tabs:not([orient="vertical"]) {

	#tabbrowser-arrowscrollbox,
	#pinned-tabs-container {
		position: relative;
		padding-bottom: 3px;
		padding-left: 4px;

		&:after {
			position: absolute;
			content: "";
			width: 100%;
			height: 1px;
			left: 0;
			bottom: 3px;
			z-index: 4;
			background: var(--zilla-toolbar-border-color-light);
			@media (prefers-color-scheme: dark) {
				background: var(--zilla-toolbar-border-color-slightlylight);
			}
		}

		.tabbrowser-tab {
			position: relative;
			z-index: 1;
			bottom: -3px;
			padding: 0 !important;

			.tab-background {
				position: relative;
				bottom: -1px;
			}
		}
		.tabbrowser-tab:is([selected="true"]) {
			position: relative;
			z-index: 5;
			bottom: -2px;

			&:not(:first-child) {
				margin-left: -2px !important;
			}


			.tab-background {
				bottom: 0;
			}
		}

		#tabs-newtab-button {
			margin-left: 4px !important;
		}
	}

	#tabbrowser-arrowscrollbox {
		.tabbrowser-tab:is([selected="true"]) {
			margin-right: -2px !important;
		}
	}

	.tab-text {
		color: rgba(0,0,0,0.9);

		@media (prefers-color-scheme: dark) {
			color: rgba(255,255,255,0.8);
		}

		&:is([selected], [multiselected]) {
			color: black;
			@media (prefers-color-scheme: dark) {
				color: white;
			}
		}
	}

	.tab-background {
		margin-block: unset !important;
		box-shadow: unset !important;
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		border: 1px solid var(--zilla-toolbar-border-color-light);
		border-right: 2px solid var(--zilla-toolbar-border-color-dark);
		border-bottom: none;
		/*background-color: rgba(0,0,0,0.02);*/

		&:is([selected], [multiselected]) {
			background-color: var(--zilla-ui-bg-color) !important;
			box-shadow: unset !important;
		}
	}

	/*.tabbrowser-tab:not([selected="true"]) {
		.tab-background{ background-color: rgba(0,0,0,0.05) !important; }
	}*/

	.tab-content {
	}
}

/* Vertical Tabs */
#tabbrowser-tabs[orient="vertical"] {

	.tab-background, &:is([selected], [multiselected]) {
		background-color: var(--zilla-ui-bg-color);
		box-shadow: var(--zilla-win98-button-border-shadow) !important;
	}
}




/* Tab Bar Toolbar buttons */


#TabsToolbar {

	position: relative;
	padding-bottom: 3px;

	&:after {
		position: absolute;
		content: "";
		width: 100%;
		height: 1px;
		left: 0;
		bottom: 3px;
		z-index: 4;
		background: var(--zilla-toolbar-border-color-light);
		@media (prefers-color-scheme: dark) {
			background: var(--zilla-toolbar-border-color-slightlylight);
		}
	}

	.toolbarbutton-1 {
		min-width: 5ch;

		/* &:not(#firefox-view-button,#alltabs-button) {
			list-style-image: unset !important;
		} */

		margin-bottom: 4px !important;

		&:hover, &[open], &:active {
			/* border-color: var(--zilla-toolbar-border-color-verydark); */
			border-color: transparent;

			.toolbarbutton-icon,
			.toolbarbutton-badge-stack {
				background-color: transparent !important;
				box-shadow: unset !important;
				border: unset !important

			}
		}
	}

	.tab-close-button {
		list-style-image: unset !important;
		width: 24px !important;
		background: url('img/icons/small/close-button.gif') center no-repeat;

		@media(prefers-color-scheme: dark) {
			background-image: url('img/icons/small/close-button-darkmode.gif');
		}



		&:hover {
			box-shadow: var(--zilla-win98-button-border-shadow) !important;
			background-color: transparent !important;
		}
		&:active {
			box-shadow: var(--zilla-win98-button-border-shadow-active) !important;
		}
	}

	/*#firefox-view-button {
		.toolbarbutton-icon {
			background: url('img/icons/small/folder-template-share-open.gif') center no-repeat;
		}
	}

	#alltabs-button {
		.toolbarbutton-icon {
			width: 16px;
			height: 16px;
			background: url('img/icons/small/sbtab-twisty-open.gif') center no-repeat;
		}
	}
*/
	#firefox-view-button[open] {
		background-color: var(--zilla-ui-bg-color) !important;
		box-shadow: var(--zilla-win98-button-border-shadow-active) !important;
	}

	#tabs-newtab-button {
		list-style-image: none !important;

		&,&:hover,&:active {
			.toolbarbutton-icon {
				background: url('img/icons/small/tab-new.gif') center no-repeat !important;
			}
		}
	}
}