/* Windows Style input borders, taken from https://jdan.github.io/98.css/ */
:root, #main-window {
    /* -- Button/Input Box/Border Shadows -- */
    --zilla-win98-button-border-shadow:
        inset -1px -1px #666,
        inset 1px 1px #fff,
        inset -2px -2px grey,
        inset 2px 2px #dfdfdf;
    
    --zilla-win98-input-border-shadow:
        inset -1px -1px #fff,
        inset 1px 1px grey,
        inset -2px -2px #dfdfdf,
        inset 2px 2px #666;

    --zilla-win98-button-border-shadow-active:
        inset -1px -1px #ffffff,
        inset 1px 1px #0a0a0a,
        inset -2px -2px #dfdfdf,
        inset 2px 2px #666;


 /* -- Toolbar Border Colors -- */
    --zilla-toolbar-border-color-dark: rgba(0,0,0,0.3);
    --zilla-toolbar-border-color-verydark: rgba(0,0,0,0.5);
    --zilla-toolbar-border-color-light: rgba(255,255,255,0.5);

    @media (prefers-color-scheme: dark) {
        --zilla-toolbar-border-color-dark: rgba(0,0,0,0.3);
        --zilla-toolbar-border-color-verydark: rgba(0,0,0,0.5);
        --zilla-toolbar-border-color-light: rgba(255,255,255,0.1);
    }

    /* -- Main Window Background -- */
    /* Mozilla / Windows XP Style (light beige): */
    --zilla-ui-bg-color-light: #d4d0c8;

    /* Netscape / Windows 95 Style (grey): */
    /*--zilla-ui-bg-color-light: #c0c0c0;*/

    --zilla-ui-bg-color: var(--zilla-ui-bg-color-light);
    @media (prefers-color-scheme: dark) {
        --zilla-ui-bg-color: #333;
    }
}

/* slightly purple Window Color for Private Browsing */
#main-window[privatebrowsingmode] {
    --zilla-ui-bg-color: #CCBFE0;
}
