/* Tool Bar Labels */
/* Shows both icon and label for toolbarbuttons */
/* Partly taken from https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/toolbarbuttons_icon+label.css made available under Mozilla Public License v. 2.0
See the above repository for full source, updates as well as full license text. */

#nav-bar .toolbarbutton-1[label]{
	flex-direction: column;
	align-items: center !important;
	padding: 0 6px !important;
}

/*#nav-bar .toolbarbutton-1[label]:not([disabled]):hover{ background-color: var(--toolbarbutton-hover-background) !important; }*/

#nav-bar .toolbarbutton-1[label] > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1[label] > .toolbarbutton-badge-stack{
	padding: 0 !important;
	border: none !important;
	background-color: transparent !important;
	box-shadow: none !important;
	margin-bottom: 0px !important;
}

#nav-bar .toolbarbutton-1[label] > .toolbarbutton-text {
	display: flex !important;
	padding-top: 0px !important;
	background-color: transparent !important;
	overflow: hidden;
	max-width: 7ch;
	min-width: 4ch;

	/* @media(max-width: 1200px) {
		min-width: 3ch;
	} */
	
}
#nav-bar .toolbarbutton-1[label] > .toolbarbutton-text::before{
	margin-inline: auto;
}
:root:not([uidensity="compact"]) #nav-bar .toolbarbutton-1[label] > .toolbarbutton-text{
	padding-bottom: 2px !important;
	padding-left: 2px !important;
	padding-right: 2px !important;
}



#nav-bar .toolbarbutton-1[label] > .toolbarbutton-text {
	min-height: var(--zilla-toolbar-label-height) !important;
}





/* ----- zilla2000 specific code: ----- */

/* Text Label Position Fix */
#nav-bar {
	.toolbarbutton-text {
		display: flex !important;
		align-items: flex-end;
	}
}