/* Windows Style input borders, taken from https://jdan.github.io/98.css/ */
:root, #main-window {
    /* -- Toolbar Border Colors -- */
    --zilla-toolbar-border-color-dark: rgba(0,0,0,0.5);
    --zilla-toolbar-border-color-verydark: rgba(0,0,0,0.7);
    --zilla-toolbar-border-color-slightlydark: rgba(0,0,0,0.2);
    --zilla-toolbar-border-color-light: rgba(255,255,255,0.9);
    --zilla-toolbar-border-color-slightlylight: rgba(255,255,255,0.6);

    @media (prefers-color-scheme: dark) {
        --zilla-toolbar-border-color-dark: rgba(0,0,0,0.8);
        --zilla-toolbar-border-color-verydark: rgba(0,0,0,0.5);
        --zilla-toolbar-border-color-light: rgba(255,255,255,0.3);
        --zilla-toolbar-border-color-slightlydark: rgba(0,0,0,0.2);
        --zilla-toolbar-border-color-slightlylight: rgba(255,255,255,0.1);
    }

    /* -- Main Window Background -- */
    /* Mozilla / Windows XP Style (light beige): */
    --zilla-ui-bg-color-light: rgba(var(--zilla-ui-bg-color-light-rgba,1));
    --zilla-ui-bg-color-light-rgba: 212,208,200;

    /* Netscape / Windows 95 Style (grey): */
    /*--zilla-ui-bg-color-light: #c0c0c0;*/

    --zilla-ui-bg-color: var(--zilla-ui-bg-color-light);
    --zilla-ui-bg-color-rgba: var(--zilla-ui-bg-color-light-rgba);

    @media (prefers-color-scheme: dark) {
        --zilla-ui-bg-color-rgba: 51,51,51;
        --zilla-ui-bg-color: rgba(var(--zilla-ui-bg-color-rgba,1));
    }



    /* -- Button/Input Box/Border Shadows -- */
    --zilla-win98-button-border-shadow:
        inset -1px -1px var(--zilla-toolbar-border-color-dark),
        inset 1px 1px var(--zilla-toolbar-border-color-slightlylight),
        inset -2px -2px var(--zilla-toolbar-border-color-slightlydark),
        inset 2px 2px var(--zilla-toolbar-border-color-slightlylight);
    
    --zilla-win98-input-border-shadow:
        inset -1px -1px var(--zilla-toolbar-border-color-slightlylight),
        inset 1px 1px var(--zilla-toolbar-border-color-slightlydark),
        inset -2px -2px var(--zilla-toolbar-border-color-slightlylight),
        inset 2px 2px var(--zilla-toolbar-border-color-dark);

    --zilla-win98-button-border-shadow-active:
        inset -1px -1px var(--zilla-toolbar-border-color-slightlylight),
        inset 1px 1px var(--zilla-toolbar-border-color-dark),
        inset -2px -2px var(--zilla-toolbar-border-color-slightlylight),
        inset 2px 2px var(--zilla-toolbar-border-color-slightlydark);
}

/* slightly purple Window Color for Private Browsing */
#main-window[privatebrowsingmode] {
    --zilla-ui-bg-color: #CCBFE0;

    @media (prefers-color-scheme: dark) {
        --zilla-ui-bg-color: #4c3b66;
    }
}
